<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>

    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />

      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>

        <rule name="Proxy Backend DosPuntos Compuestos" stopProcessing="true">
          <match url="^proxy-backend/(.*)/(status|password|login)-(block|release|reset|change|new|bycode)$" />
          <action type="Rewrite" url="http://172.17.2.19:4333/{R:1}/{R:2}:{R:3}" />
        </rule>

        <rule name="Proxy Backend DosPuntos Prefijos" stopProcessing="true">
          <match url="^proxy-backend/(.*)/(byencrypt|pornombre)$" />
          <action type="Rewrite" url="http://172.17.2.19:4333/{R:1}/:{R:2}" />
        </rule>

        <rule name="Proxy Backend DosPuntos Cda" stopProcessing="true">
          <match url="^proxy-backend/(.*)/(execute|obtener)-(test|byGrupo)$" />
          <action type="Rewrite" url="http://172.17.2.19:4333/{R:1}/{R:2}:{R:3}" />
        </rule>

        <rule name="Proxy Backend DosPuntos CadenaValor" stopProcessing="true">
          <match url="^proxy-backend/(.*)/cadenavalor-actualizar$" />
          <action type="Rewrite" url="http://172.17.2.19:4333/{R:1}/cadenavalor:actualizar" />
        </rule>

        <rule name="Proxy Backend" stopProcessing="true">
          <match url="^proxy-backend/(.*)" />
          <action type="Rewrite" url="http://172.17.2.19:4333/{R:1}" />
        </rule>

        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
