.container {
  margin-bottom: 1.5rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: var(--yellow);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: rgba(255, 255, 255, 0.02);
  color: var(--yellow);
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  letter-spacing: 6px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.input:focus {
  border-bottom-color: var(--yellow);
  background-color: rgba(255, 255, 255, 0.05);
}


/* --- RESET DE AUTOCOMPLETADO DEL NAVEGADOR --- */
.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: var(--white, #ffffff) !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
