.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 16px 8px;
  transition: background-color 0.2s;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

.mainInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--white);
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}

.cuit {
  color: #888;
  font-size: 12px;
  margin: 2px 0 0 0;
}