.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

.modalContainer {
  background-color: #1a1a1a;
  width: 90%;
  max-width: 420px;
  border-radius: 16px;
  border: 1px solid #333;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.btnClose {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}

.btnClose:hover {
  color: var(--white);
}

.body {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  width: 70px;
  height: 70px;
  background-color: rgba(244, 245, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  margin-bottom: 20px;
}

.title {
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.description {
  color: #aaa;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 30px 0;
}

.inputSection {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;

  text-align: left;
}

.footer {
  display: flex;
  width: 100%;
  gap: 12px;
}

.btnCancel,
.btnConfirm {
  flex: 1;
  font-weight: 600;
}

.resendText {
  margin-top: 25px;
  font-size: 13px;
  color: #666;
}

.resendLink {
  color: var(--yellow);
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
