.wrapper {
  text-align: center;
  margin: 2rem 0 3rem 0;
  position: relative;
}

.label {
  color: #aaa;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.currency {
  font-size: 2rem;
  color: var(--yellow);
  font-weight: 300;
}

.input {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 4.5rem;
  font-weight: 700;
  width: 100%;
  max-width: 350px;
  text-align: left;
  outline: none;
  padding: 0;
  transition: text-shadow 0.3s ease;
  appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* --- RESET DE AUTOCOMPLETADO DEL NAVEGADOR --- */
.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: var(--white, #ffffff) !important;
  caret-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
